h1 {
	color: #103075;
	font-size: 400%;
	text-align: center;
}

html {
	background: url("nen.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

p {
	font-size: 150%;
	text-align: center;
}

li {
	font-size: 150%;
}